@import "../../global.scss";

.Skills{
    background-color: #DBB7E3;

    .svgContainer{
        height: 120px;
        overflow: hidden;

        @include mobile{
            height: 50px;
        }
    }
    
    .skillsContainer{
        display: flex;
        flex-direction: column;
        padding:60px;
        

        h1{
            margin-bottom: 20px;
        }

        span{
            margin-bottom: 50px;
        }

        .container-icons{
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;
            margin-bottom: 3rem;

            .box-icon{
                width:16%;
                height: 142px;
                margin-bottom: 10px;  

                @include mobile{
                    width:33%;  
                    height: 110px;                 
                }
                
                p{
                    color: #656565;
                    line-height: 1.55;
                    font-size: 1rem;
                    margin-bottom: 50px;
                    margin-top: 20px;

                   
                }

                .i-responsive {
                    width: 70px;
                    @include mobile{
                        width: 46px;
                    }
                }
            }

            .container-img-i {
                display: block;
                width: 50%;
                height: 4.2rem;
                margin: 0 auto;

                @include mobile{
                    width:33%;  
                    height: 2.7rem;                 
                }
            }

            .devicon, .fab, .fas {
                color: #fff;
                font-size: 4rem;

                @include mobile{
                    font-size: 2.5rem;                   
                }
            }

        }


    }

    h2{
        margin-bottom: 20px;
    }
   
}